@media screen and (min-width: 768px) and (max-width: 1024px) {
	.card-figure {
		width: 16.5rem;
		height: 19rem;
	}
#recipesContainer {
	gap:9px;
	justify-content: space-evenly;
}
	button {
		height: 3rem;
	}
	.media-recipe {
		width: 16.5rem;
		height: 150px;
		border-radius: 5px 5px 0px 0px;
	}
	.card-info {
		margin-top: 0.5rem;
		display: flex;
		justify-content: space-between;
	}
	.card-title {
		font-size: 0.8rem;
	}
}
