/*? UTILITIES*/

body {
  font-family: 'Lato', sans-serif;
  font-family: 'Roboto', sans-serif;
}

:root {
  --green: #68D9A4;
  --orange: #ED6454;
  --blue: #3282F7;
  --upCard: #C7BEBE;
  --downCard: #E7E7E7;
  box-sizing: border-box;
  font: 1.2rem;
}

p {
  margin: inherit;
}

/*? ***********  SECTION  entetes ***********/
.logo {
  display: block;
  margin-left: auto;
  margin-right: auto;
  height: 6.5rem;
}

/*? GALLERY RECIPES ******************/

#recipesContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
  flex-wrap: wrap;
  height: 4.3rem;
  width: 78.5rem;
}

.card-body {
  flex-direction: row;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  margin-top: 1rem;
  width: 23.5rem;
  height: 22.5rem;
  margin: 1rem 1rem 1rem 1rem;
  background-color: var(--downCard);
}

/*!   image de la recette *****/
.media-recipe {
  width: 380px;
  height: 178px;
  object-fit: cover;
  object-position: 60% 15%;
}

/*!  titre  info  title  ********/
.card-info {
  font-size: 1.375rem;
  margin-top: 1rem;
  display: flex;
  justify-content: space-between;
}

span {
  display: flex;
  flex-direction: row;

}

/* i.far-light {
  width: 20px;
  height: 20px;
} */

.card-title {
  font-size: 1.3rem;
  font-weight: 700;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

/*!    ingredients description   ****/
figcaption.detail {
  font-size: 12px;
  margin: 0.5rem 0.5rem;
  padding: 0px;
  display: flex;
  margin-bottom: 1rem;
}

.card-ingred {
  font-size: 12px;
  font-family: 'lato';
  width: 100%;
  display: -webkit-box;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
  margin-right: 5px;
}

.card-desc {
  width: 100%;
  display: -webkit-box;
  text-overflow: ellipsis;
  overflow: hidden;
  -webkit-line-clamp: 6;
  -webkit-box-orient: vertical;
}

.card-body:hover {
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
}

/*? SECTION Partie recherche Loupe*/
#search {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  height: 4.3rem;
  width: 77.5rem;
  border-radius: 5px;
  background: #E7E7E7;
  margin-top: 1rem;
}

/*! custom input loupe */
.glass {
  width: 32px;
  height: 32px;
  position: relative;
  top: 1.4rem;
  right: -60rem;
  z-index: 5;
  width: 32px;
}

#search.input {
  background: var(--upCard);
  width: 11.5rem;
  height: 1.38rem;
}


.loupe {
  background-color: var(--downCard);
  border: none;
  margin-left: 0.9rem;
  font-weight: 100;
}

/*!-------------------------------*/

/*? section des 3 button */
#searchBtn {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  margin-left: auto;
  margin-right: auto;
  margin-top: 4rem;
  width: 76.5rem;
  gap: 20px;
  border-radius: 3px;
  border: none;
}

button {
  display: flex;
  min-width: 12rem;
  height: 4rem;
  padding: 0px;
  margin-right: 1.5rem;
  padding: 1rem;
  border-radius: 5px;
  font-size: 18px;
  font-weight: 500;
  color: white;
  justify-content: space-between;
  align-items: center;
  border: none;
}

.listTags {
  list-style: none;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  grid-auto-rows: 2.2rem;
  overflow: hidden;
  padding: 0;
  margin-bottom: 0;
  height: 100%;
  width: 41.68rem;
  height: 24.81rem;
  border-radius: 5px;
  font-size: 1.1rem;
  padding: 15px 15px;
}

.list-item:hover{
  color :red;
  cursor: pointer;
}

.tagInput::placeholder {
  color: white;
}
/*! Masque la liste des tags */


.dropdown-content {
  display: none;
  flex-direction: row;
  justify-content: left;
  align-content: center;
  margin-left: auto;
  margin-right: 1rem;
  border-radius: 5px;
  font-size: 1.1rem;
  color: white;
  position: relative;
}

/*!  Affichage la liste des tags */
.dropList.active .dropdown-content {
  display: block;
}

/*! Masque le bouton si la liste des tags est ouverte */
.dropList.active button {
  display: none;
}

.chevronUp {
  transform: rotate(180deg);
  cursor: pointer;
  position: relative;
}


.tags {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-right: 2rem;
}

.tagInput {
  width: 195px;
  height: 32px;
  margin: 12px;
  font-size: 17px;
  border-radius: 3px;
  background-color: transparent;
  border: none;
}

.elementsList.active .dropdown-content {
  display: block;
}

.elementsList.active button {
  display: none;
}

.blue button,
.blue .dropdown-content {
  background-color: var(--blue);
}

.green button,
.green .dropdown-content {
  background-color: var(--green);
}

.orange button,
.orange .dropdown-content {
  background-color: var(--orange);
}


/************   alerte message  search  ****/
/* .message-search {
  display: flex;
  justify-content: space-between;
  width: 100%;
  margin: 1rem 0;
  padding: 1rem;
  border-radius: 0.25rem;
  overflow: hidden;
  font-size: 1.21rem;
  transform: scaleY(0);
  transition: transform 300ms;
} */
